@charset "ISO-8859-1";


.color input{ background-color:#f1f1f1;}
h1{
	text-align:center;
	color:#000080;
    bottom:20px;
}
h4{
	text-align: left;
	padding-bottom: 15px;
}
#divPaymentsGrid{
	color:#0F3057;
	
}
#formPayments{
	color:#222831;
	margin:10px;
	border: 1px solid #0E185F;;
	padding: 25px;

}
body img{
	position:absolute;
}
#btnSave{
	padding-left:40px;
	padding-right:40px;
	margin-left:100px;
}
